.burgerButton {
  @include flex-center;
  background-color: var(--color-accent);
  color: var(--color-white);
  column-gap: 5px;
  border: none;
  border-radius: var(--border-radius-xl);
  padding: 5px 10px;

  @include hover {
    filter: brightness(0.9);
  }

  &.isActive {
    .burgerLine {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;

      &2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
      }
    }
  }

  &:not(.isActive) {
    .burgerLine {
      &3 {
        stroke-dasharray: 30 207;
        stroke-dashoffset: -30;
      }
    }
  }

  .burgerLine {
    fill: none;
    stroke: var(--color-white);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 60 207;
    transition: stroke-dasharray var(--transition-duration-m)
        cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset var(--transition-duration-m)
        cubic-bezier(0.4, 0, 0.2, 1);

    &2 {
      stroke-dasharray: 60 60;
    }
  }
}
