.modal {
  --modal-duration: 3s;

  position: fixed;
  flex-direction: column;
  row-gap: 10px;
  background-color: var(--color-accent-02);
  border-radius: var(--border-radius-xl);
  border: none;
  color: var(--color-grey-03);
  top: 80%;
  transition-duration: var(--transition-duration-m);
  transition-behavior: allow-discrete;

  @mixin starting-styles {
    opacity: 0;
    translate: 0 50%;
  }

  &[open] {
    display: flex;

    @starting-style {
      @include starting-styles;
    }
  }

  &:not([open]) {
    @include starting-styles;
  }
}
.modalBody {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.progressBar {
  width: 100%;
  height: 4px;
  background-color: var(--color-grey-03);
  border-radius: var(--border-radius-s);
}

.progressFill {
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  animation: shrink var(--modal-duration) linear forwards;
  transform-origin: left;
}

@keyframes shrink {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
