.menuLink {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--color-grey-03);

  @include hover(true) {
    color: var(--color-white);
  }
}
.badge {
  position: absolute;
  top: -10px;
  left: 70%;
  background-color: var(--color-accent);
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-white);
  @include square(18px);
}
