.favoritesList {
  display: flex;
  column-gap: 20px;

  @include mobile {
    flex-direction: column;
    row-gap: 20px;
  }
}

.notFoundInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.iconContainer {
  color: var(--color-red);
  svg {
    fill: var(--color-red);
  }
}
