.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: fluid-to-laptop(20, 10);
  column-gap: 50px;

  @include tablet {
    flex-direction: column;
    row-gap: 5px;
  }
}

.menu {
  @include tablet {
    position: fixed;
    background-color: var(--color-black);
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: var(--z-index-under);
  }
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
}

.menuLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--color-grey-03);

  @include hover(true) {
    color: var(--color-white);
  }
}

.searchBar {
  display: flex;
  column-gap: 3px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius-xl);
  padding: 5px;
}
