.menu {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-rows: 0fr;
  background-color: var(--color-grey);
  opacity: 0;
  border-radius: var(--border-radius-l);
  transition: grid-template-rows var(--transition-duration-m) ease-in-out,
    opacity var(--transition-duration-m) ease-in-out;
  z-index: var(--z-index-under);
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 15px;
  cursor: pointer;
  border-radius: var(--border-radius-l);

  @include hover {
    color: var(--color-accent);
    background-color: var(--color-grey-02);
  }
}

.isExpanded {
  grid-template-rows: 1fr;
  opacity: 1;
}
