.productCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-grey);
  padding: fluid-to-laptop(50, 30);
  transition: opacity var(--transition-duration) ease-in-out;
}

.large {
  border-top: var(--border-width-s) solid var(--color-grey-02);
}

.small {
  flex-direction: column;
  row-gap: fluid-to-laptop(20, 10);
  border-radius: var(--border-radius-xl);

  .title,
  .price {
    text-align: center;
  }

  .score {
    justify-content: center;
  }
}

.image {
  user-select: none;
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.title {
  font-weight: 200;
}
.score {
  display: flex;
  column-gap: 5px;
}
.score {
  color: var(--color-accent);
  filter: contrast(1.7);
}

.specList {
  span:first-child {
    filter: brightness(0.8);
  }
}

.specItem {
  display: flex;
  column-gap: 5px;
}

.actions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.price {
  font-size: fluid-to-laptop(22, 16);
  font-weight: 500;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.favButton {
  input {
    display: none;
  }

  svg {
    transition-duration: var(--transition-duration);
  }

  &:has(input:checked) svg {
    fill: red;
    color: red;

    @include hover {
      filter: brightness(0.8);
    }
  }

  &:not(:has(input:checked)) {
    @include hover {
      color: var(--color-red);
    }
  }

  &:active {
    scale: 0.8;
  }
}
