.navigation {
  display: flex;
}

.inside {
  position: absolute;
  justify-content: center;
  padding: 20px;
  width: 100%;
  padding-bottom: 20px;
  z-index: var(--z-index-under);

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.bottom {
  bottom: 0;
}

.pagination {
  background-color: var(--color-grey-02);
  padding: 20px;
  display: flex;
  border-radius: var(--border-radius-xl);
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  column-gap: 8px;
}

:global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-grey-03);
  cursor: pointer;
  transition: all var(--transition-duration-m) ease;
  border: 2px solid transparent;

  &:hover {
    filter: brightness(0.7);
    transform: scale(1.1);
  }
}

:global(.swiper-pagination-bullet-active) {
  transform: scale(1.5);
  background-color: var(--color-accent);
}
