.navigation {
  align-items: center;
  justify-content: space-between;

  .pagination {
    display: flex;
    border-radius: var(--border-radius-xl);
    padding: 20px;
    column-gap: 8px;

    :global(.swiper-pagination-bullet) {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: var(--color-grey-03);
      transition: all var(--transition-duration-m) ease;
      cursor: pointer;

      @include hover {
        filter: brightness(0.7);
        transform: scale(1.1);
      }
    }

    :global(.swiper-pagination-bullet-active) {
      transform: scale(1.5);
      background-color: var(--color-accent);
    }
  }
}

.inside {
  width: 100%;
  justify-content: center;

  @include tablet-above {
    position: absolute;
    display: flex;
    z-index: var(--z-index-under);
    bottom: 10px;

    .pagination {
      background-color: var(--color-grey-02);
      box-shadow: var(--shadow);
    }
  }

  @include tablet {
    display: inline-flex;
    padding-top: 5px;
  }
}

.outside {
  display: inline-flex;
  column-gap: 5px;
}
