.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  aspect-ratio: 1 / 1;
  row-gap: 15px;
  padding: 15px;
  background-color: var(--color-accent-02);
  border-radius: var(--border-radius-xl);
  transition: background-color var(--transition-duration) ease-in-out;

  @include hover {
    background-color: var(--color-grey-02);
  }
}
.title {
  word-break: break-all;
}
